"use strict";
var _ = require('lodash'),
    fs = require('fs'),
    path = require('path'),
    methods = require('./api/');

var method = function (data) {
    value = data;
    return value;
};

module.exports = method;