"use strict";

var method = function nameYourFunctionForDebugging(options) {
    var to = options.to,
        message = options.message,
        from = options.from;

    //Choose one depending on command's type
    /*
    return {
        type: "command",
        command: command,
        to: to,
        nick: from,
        message: message
    }
    ||  return {
        type: "say",
        to: to,
        nick: from,
        message: message
    }
    || return {
        type: "async"
    };
    */
};

//
var defaults = {
    description: {
        pl: ",komenda [data] - Bot robi [data]",
        en: ",command [data] - Bot does [data]"
    },
    aliases: [
        "command",
        "yourOwn"
    ]
};


module.exports = {
    method: method,
    defaults: defaults
};