"use strict";
var client = require('../config/bot.js');

// 
var method = function (channel, data) {
    //return the thing client is supposed to do down there
    //If command makes the bot say something:
    return {
        type: "say",
        to: channel,
        message: data
    }

    //If command makes the bot do something (use IRC command for example):
    /*
    return {
        type: "command",
        to: channel,
        //Nick IS NOT required!
        nick: nick,
        message: message
    }
};

//
var defaults = {
    description: {
        pl: ",komenda [data] - Bot robi [data]",
        en: ",command [data] - Bot does [data]"
    },
    aliases: [
        "command",
        "yourOwn"
    ]
};


module.exports = {
    method: method,
    defaults: defaults
};