"use strict";
var mongoose = require('../init.js'),
    Schema = mongoose.Schema;


var unit = new Schema({
    channel: String,
    count: Number,
    lastPost: Date,
    link: String,
    firstPost: {
        by: String,
        date: {
            type: Date,
            default: Date.now
        }
    }
});

mongoose.model('Unit', unit);
